@model SAKIB_PORTFOLIO.Models.DESCRIPTION

@{
    ViewData["Title"] = "Create";
}

<section>
   <div class="container-fluid py-5">
        <h1>Create</h1>

        <h4>DESCRIPTION</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="DESCRIPTION_TEXT" class="control-label"></label>
                        <input asp-for="DESCRIPTION_TEXT" class="form-control" />
                        <span asp-validation-for="DESCRIPTION_TEXT" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TYPE_ID" class="control-label"></label>
                        <select asp-for="TYPE_ID" class="form-control" asp-items="ViewBag.TYPE_ID"></select>
                    </div>  
                    <div class="form-group">
                        <label asp-for="SORT_ORDER" class="control-label"></label>
                        <input asp-for="SORT_ORDER" class="form-control" />
                    </div>
                   @*  <div class="form-group">
                        <label asp-for="CREATED_BY" class="control-label"></label>
                        <input asp-for="CREATED_BY" class="form-control" />
                        <span asp-validation-for="CREATED_BY" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CREATED_DATE" class="control-label"></label>
                        <input asp-for="CREATED_DATE" class="form-control" />
                        <span asp-validation-for="CREATED_DATE" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MODIFIED_BY" class="control-label"></label>
                        <input asp-for="MODIFIED_BY" class="form-control" />
                        <span asp-validation-for="MODIFIED_BY" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MODIFIED_DATE" class="control-label"></label>
                        <input asp-for="MODIFIED_DATE" class="form-control" />
                        <span asp-validation-for="MODIFIED_DATE" class="text-danger"></span>
                    </div> *@
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
   </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
