@model SAKIB_PORTFOLIO.Models.DESCRIPTION

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DESCRIPTION</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AUTO_ID" />
            <input type="hidden" asp-for="CREATED_BY" />
            <input type="hidden" asp-for="CREATED_DATE" />
            <div class="form-group">
                <label asp-for="DESCRIPTION_TEXT" class="control-label"></label>
                <input asp-for="DESCRIPTION_TEXT" class="form-control" />
                <span asp-validation-for="DESCRIPTION_TEXT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TYPE_ID" class="control-label"></label>
                <select asp-for="TYPE_ID" class="form-control" asp-items="ViewBag.TYPE_ID"></select>
                <span asp-validation-for="TYPE_ID" class="text-danger"></span>
            </div>
            <div class="form-group" id="idProject">
                <label asp-for="PROJECT_ID" class="control-label"></label>
                <select asp-for="PROJECT_ID" class="form-control" asp-items="ViewBag.PROJECT_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SORT_ORDER" class="control-label"></label>
                <input asp-for="SORT_ORDER" class="form-control" />
                <span asp-validation-for="SORT_ORDER" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="CREATED_BY" class="control-label"></label>
                <input asp-for="CREATED_BY" class="form-control" />
                <span asp-validation-for="CREATED_BY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CREATED_DATE" class="control-label"></label>
                <input asp-for="CREATED_DATE" class="form-control" />
                <span asp-validation-for="CREATED_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MODIFIED_BY" class="control-label"></label>
                <input asp-for="MODIFIED_BY" class="form-control" />
                <span asp-validation-for="MODIFIED_BY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MODIFIED_DATE" class="control-label"></label>
                <input asp-for="MODIFIED_DATE" class="form-control" />
                <span asp-validation-for="MODIFIED_DATE" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.addEventListener("DOMContentLoaded", function (e) {
            let typeList = document.getElementById("TYPE_ID");
            let projectName = document.getElementById("idProject");
            var selectedText = $(typeList).find("option:selected").text();

            // Capture change event
            $(typeList).on("change", function () {
                let currentSelectedText = $(this).find("option:selected").text();
                showHideProject(currentSelectedText, projectName);
            });
            showHideProject(selectedText, projectName);
        });
        const showHideProject = function (selectedText, projectName) {
            //alert(selectedText);
            if (selectedText == "Project") {
                projectName.style.display = "block";
            }
            else {
                projectName.style.display = "none";
            }
        }
    </script>
}
