################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config
/bin
/obj
/.vs/SAKIB_PORTFOLIO
/.vs/Sakib Portfolio/FileContentIndex
/.vs
