#hero {
    border-radius: 25px;
    border: inset;
    border-color: aliceblue;
    background-repeat: repeat;
    padding: 5px;
    width: 100%;
    height: 100vh;
    background-color: #E9E8E6;
    background-size: cover;
}


.width-complete {
    width: 100%;
}

#mobIMG {
    border-radius: 25px;
    border: inset;
    border-color: aliceblue;
    background: #E9E8E6;
    padding: 2em;
}

@keyframes color-change {
    /*For color change*/
    /*0% {color: black;}
            20% {color: darkcyan;}
            40% {color: red;}
            60% {color: blue;}
            80% {color: green;}
            100% { color: yellow;}*/
    /*For shake*/
    0% {
        transform: translate(1px, 1px) rotate(0deg);
        color: black;
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
        color: darkcyan;
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
        color: black;
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
        color: darkcyan;
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
        color: black;
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
        color: darkcyan;
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
        color: black;
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
        color: darkcyan;
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
        color: black;
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
        color: darkcyan;
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
        color: black;
    }
}

.mobText {
    animation: color-change 2s infinite;
}

    .mobText:hover {
        animation-play-state: paused;
    }

/* Styles for the popup modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Close button style */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

