
div.myContainer {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.navbar li:hover > a {
    color: darkcyan;
}

.navbar li > a {
    color: black;
}

#myH {
    font-family: "Brush Script MT";
    color: black;
}

.circle {
    border-radius: 50%;
    padding: 10px;
    border: 1px solid;
    color: #000;
    border-color: black;
    background-position: left top;
    background-repeat: repeat;
    padding: 5px;
}
