@model SAKIB_PORTFOLIO.ViewModels.ImageStoreViewModel

<h2>Upload Image</h2>

<section>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label"></label>
                        <input asp-for="ImageFile" type="file" class="form-control" accept="image/*" required>
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
</section>
