@model SAKIB_PORTFOLIO.Models.MY_SKILLS

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-fluid p-5">
    <h1>Details</h1>

<div>
    <h4>MY_SKILLS</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SKILL_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SKILL_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SKILL_PERCENTAGE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SKILL_PERCENTAGE)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AUTO_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>
</section>
