@model SAKIB_PORTFOLIO.Models.MY_SKILLS

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-fluid p-5">
        <h1>Edit</h1>

<h4>MY_SKILLS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AUTO_ID" />
            <div class="form-group">
                <label asp-for="SKILL_NAME" class="control-label"></label>
                <input asp-for="SKILL_NAME" class="form-control" />
                <span asp-validation-for="SKILL_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SKILL_PERCENTAGE" class="control-label"></label>
                <input asp-for="SKILL_PERCENTAGE" class="form-control" />
                <span asp-validation-for="SKILL_PERCENTAGE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
