@model SAKIB_PORTFOLIO.Models.DESCRIPTION

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DESCRIPTION</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AUTO_ID" />
            <div class="form-group">
                <label asp-for="DESCRIPTION_TEXT" class="control-label"></label>
                <input asp-for="DESCRIPTION_TEXT" class="form-control" />
                <span asp-validation-for="DESCRIPTION_TEXT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TYPE" class="control-label"></label>
                <input asp-for="TYPE" class="form-control" />
                <span asp-validation-for="TYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CREATED_BY" class="control-label"></label>
                <input asp-for="CREATED_BY" class="form-control" />
                <span asp-validation-for="CREATED_BY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CREATED_DATE" class="control-label"></label>
                <input asp-for="CREATED_DATE" class="form-control" />
                <span asp-validation-for="CREATED_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MODIFIED_BY" class="control-label"></label>
                <input asp-for="MODIFIED_BY" class="form-control" />
                <span asp-validation-for="MODIFIED_BY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MODIFIED_DATE" class="control-label"></label>
                <input asp-for="MODIFIED_DATE" class="form-control" />
                <span asp-validation-for="MODIFIED_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
