@using SAKIB_PORTFOLIO.Models
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    MY_PROFILE? mY_PROFILEs = ViewData["PROFILES"] as MY_PROFILE;
}

<style>
    .error{
        color: red;
    }
</style>

<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                @if (mY_PROFILEs != null)
                {
                    <p>@mY_PROFILEs.DES_1</p>
                }
            </div>

            <div>
                <iframe style="border:0; width: 100%; height: 270px;" width="600" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117658.97207999983!2d89.53250170000001!3d22.8453019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff9071cb47152f%3A0xf04b212290718952!2sKhulna!5e0!3m2!1sen!2sbd!4v1669381041337!5m2!1sen!2sbd" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                @*<iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116843.64263619613!2d90.39927429562331!3d23.77005501986503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b087026b81%3A0x8fa563bbdd5904c2!2sDhaka!5e0!3m2!1sen!2sbd!4v1671794598613!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>*@
            </div>

            <div class="row mt-5">

                @if(mY_PROFILEs != null)
                {
                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>@mY_PROFILEs.CURRENT_CITY</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>@mY_PROFILEs.EMAIL</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>@mY_PROFILEs.PHONE</p>
                            </div>

                        </div>
                        <br />

                    </div>
                }

                <div class="col-lg-8 mt-5 mt-lg-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name">
                                <div class="error" id="nameError"></div>
                            </div>
                            <div class="col-md-4 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                                <div class="error" id="emailError"></div>
                            </div>
                            <div class="col-md-4 form-group mt-3 mt-md-0">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone No.">
                                <div class="error" id="phoneError"></div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                            <div class="error" id="subjectError"></div>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" id="message" rows="5" placeholder="Message"></textarea>
                            <div class="error" id="messageError"></div>
                        </div>
                        <br />
                        <div><button style="background-color:green;color:white;" class="btn btn-default" id="myButton" type="submit">Send Message</button></div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

@section Scripts{

    <script src="~/js/contacts/messagecontent.js"></script>
}
