@model SAKIB_PORTFOLIO.Models.MY_PROFILE

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label{
        font-weight:bold;
    }
</style>

<section>
    <div class="container-fluid p-5">
        <h1>Edit</h1>

        <h4>MY_PROFILE</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AUTO_ID" />
                    <input type="hidden" asp-for="PROFILE_IMAGE" />
                    <div class="form-group">
                        <label asp-for="MY_NAME" class="control-label"></label>
                        <input asp-for="MY_NAME" class="form-control" />
                        <span asp-validation-for="MY_NAME" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DESIGNATION" class="control-label"></label>
                        <input asp-for="DESIGNATION" class="form-control" />
                        <span asp-validation-for="DESIGNATION" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DATE_OF_BIRTH" class="control-label"></label>
                        <input asp-for="DATE_OF_BIRTH" class="form-control" />
                        <span asp-validation-for="DATE_OF_BIRTH" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AGE" class="control-label"></label>
                        <input asp-for="AGE" class="form-control" />
                        <span asp-validation-for="AGE" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MY_WEBSITE" class="control-label"></label>
                        <input asp-for="MY_WEBSITE" class="form-control" />
                        <span asp-validation-for="MY_WEBSITE" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DEGREE" class="control-label"></label>
                        <input asp-for="DEGREE" class="form-control" />
                        <span asp-validation-for="DEGREE" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PHONE" class="control-label"></label>
                        <input asp-for="PHONE" class="form-control" />
                        <span asp-validation-for="PHONE" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EMAIL" class="control-label"></label>
                        <input asp-for="EMAIL" class="form-control" />
                        <span asp-validation-for="EMAIL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CURRENT_CITY" class="control-label"></label>
                        <input asp-for="CURRENT_CITY" class="form-control" />
                        <span asp-validation-for="CURRENT_CITY" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HOMETOWN" class="control-label"></label>
                        <input asp-for="HOMETOWN" class="form-control" />
                        <span asp-validation-for="HOMETOWN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DES_1" class="control-label"></label>
                        <textarea rows="5" asp-for="DES_1" class="form-control"></textarea>
                        <span asp-validation-for="DES_1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DES_2" class="control-label"></label>
                        <textarea rows="5" asp-for="DES_2" class="form-control"></textarea>
                        <span asp-validation-for="DES_2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DES_3" class="control-label"></label>
                        <textarea rows="5" asp-for="DES_3" class="form-control"></textarea>
                        <span asp-validation-for="DES_3" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @if (Model.PROFILE_IMAGE != null)
                        {
                            <label asp-for="PROFILE_IMAGE" class="control-label"></label>
                            <img class="img-fluid" style="height:120px;width:120px;" src="data:ImageData;base64,@System.Convert.ToBase64String(Model.PROFILE_IMAGE)" />
                            @*<input asp-for="PROFILE_IMAGE" class="form-control" />*@
                            <span asp-validation-for="PROFILE_IMAGE" class="text-danger"></span>
                        }

                    </div>

                    <div class="form-group">
                        <label asp-for="PROFILE_IMAGE" class="control-label"></label>
                        <input type="file" accept="image/*" asp-for="PROFILE_IMAGE" class="form-control-file" multiple="multiple" />
                        <span asp-validation-for="PROFILE_IMAGE" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
