@model SAKIB_PORTFOLIO.Models.PROFILE_COVER

@{
    ViewData["Title"] = "Edit";
    var rootpath = (string)ViewBag.rootPath;
}

<section>
    <div class="container-fluid p-5">
        <h1>Edit</h1>

        <h4>PROFILE_COVER</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AUTO_ID" />
                    <input type="hidden" asp-for="COVER_IMAGE" />
                    <div class="form-group">
                        <label asp-for="COVER_NAME" class="control-label"></label>
                        <input asp-for="COVER_NAME" class="form-control" />
                        <span asp-validation-for="COVER_NAME" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="COVER_DESC" class="control-label"></label>
                        <input asp-for="COVER_DESC" class="form-control" />
                        <span asp-validation-for="COVER_DESC" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @if(Model.COVER_IMAGE != null){
                        <label asp-for="COVER_IMAGE" class="control-label"></label>
                        <img class="img-fluid" style="height:75px;width:75px;" src="@Url.Content(Model.COVER_IMAGE.Replace(rootpath,""))" />
                        @* <img class="img-fluid" style="height:120px;width:120px;" src="data:ImageData;base64,@System.Convert.ToBase64String(Model.COVER_IMAGE)" /> *@
                        <span asp-validation-for="COVER_IMAGE" class="text-danger"></span>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="COVER_IMAGE" class="control-label"></label>
                        <input type="file" accept="image/*" asp-for="COVER_IMAGE" class="form-control-file" multiple="multiple" />
                        <span asp-validation-for="COVER_IMAGE" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        @if(Model.MOBILE_COVER != null){

                            <label asp-for="MOBILE_COVER" class="control-label"></label>
                            <img class="img-fluid" style="height:120px;width:120px;" src="data:ImageData;base64,@System.Convert.ToBase64String(Model.MOBILE_COVER)" />
                            <span asp-validation-for="MOBILE_COVER" class="text-danger"></span>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="MOBILE_COVER" class="control-label"></label>
                        <input type="file" accept="image/*" asp-for="MOBILE_COVER" class="form-control-file" multiple="multiple" />
                        <span asp-validation-for="MOBILE_COVER" class="text-danger"></span>
                    </div>*@

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
